* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.debug header {
    background-color: #0084FD;
    width: 100%;
    max-width: 100%;
}

:root {}

/* header */
#site_header {

    background-color: #0084FD;
    width: 100%;
    max-width: 100%;


}

.container_header {
    margin: auto;
    background-color: #0084FD;
    width: 60%;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    display: flex;

}



.logo {

    padding: 5px;
    font-size: 2rem;
}

.color {
    color: white;
}





.list_header {
    display: none;



}


/* endheader */




/* site-main */
.debug main {
    width: 100%;
}

.demo {
    width: 100%;

}


.container_demo {
    margin: auto;
    width: 80%;
    display: flex;



}

.row {
    display: flex;
    flex-wrap: wrap;

}


.card {
    text-align: start;
    border-radius: 4rem;
    margin-top: 1rem;
    background-color: #B5DDFF;
    padding: 1rem;


}

.height-30 {
    height: 35rem;
}


.store-apple {
    text-align: center;
    border-radius: 1rem;
    background-color: #0084FD;
    width: 230px;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin: 1rem;
}


.img {
    margin: 0 25%;
    display: flex;

}

.lorem {
    margin-top: 1rem;
    font-size: 25px;
}

.title_demo {
    color: #0385FD;
    font-size: 30px;
    text-align: center;
    padding-bottom: 1rem;
}


/* 2card */
.code {
    font-size: 4rem;
    text-align: center;
    color: #0084FD;
}

.lorem-center {
    text-align: center;
    font-size: 25px;

}

.height {
    height: 25rem;
    font-size: 15px;
}



/* planning */
.planning {
    width: 100%;
    background-color: #9792E4;
}

    .container_planning {
        margin: auto;
        width: 70%;
        display: flex;
    }

.font-3 {
    font-size: 3rem;
    margin-top: 8rem;
    margin-bottom: 3rem;
}

.font-2 {
    font-size: 2rem;
}

.card1 {
    border-radius: 2rem;
    background-color: white;
    margin-top: 2rem;
    margin-left: 2rem;


}

.title_planning {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.lorem-center-p{
    text-align: center;
    font-size: 25px;
    padding: 3rem;
}

.arrow{
    text-align: center;
    font-size: 3rem;
    border-radius: 7rem;
    background-color: #9792E4;
    padding: 2rem;
    position: relative;
    left: 40%;
    width: 120px;
 
}




/* thestimonials */







/* calc */


.col-1 {
    width: calc((100% / 12) * 1);

}

.col-2 {
    width: calc((100% / 12) * 2);

}


.col-3 {
    width: calc((100% / 12) * 3);

}

.col-4 {
    width: calc((100% / 12) * 4);

}


.col-5 {
    width: calc((100% / 12) * 5);

}

.col-6 {
    width: 50%;
}

.col-8 {
    width: calc((100% / 12) * 8);

}


.col-12 {
    width: 100%;
}


/* calc */


























/* media-header */
/* tabletmedia */
@media screen and (min-width: 768px) {

    .col-sm-8 {
        width: calc((100% / 12) * 8);

    }


    .col-sm-4 {
        width: calc((100% / 12) * 4);

    }

    .font {
        font-size: 10px;
    }

    .lorem-center {
        font-size: 15px;
    }

    .card {
        margin: 1rem 2px;
    }

    .img_planning {
        width: 700px;
    }

    .font-3 {
        font-size: 4rem;
        padding: 1rem;

    }

    .font-2 {
        padding: 1rem;

    }

    .container_planning {
        margin-left: 0;

    }

    .container_demo {
        margin: auto;
        width: 90%;
        display: flex;
    }

    .container_header {
        width: 90%;
        margin: auto;
        display: flex;

    }



}






/* desktopmedia */
@media screen and (min-width: 992px) {



    .list_header {
        list-style: none;
        display: flex;
        gap: 1rem;
        color: white;
        text-decoration: none;
        align-items: center;

    }

    .bars {
        display: none;
    }




    .start {
        color: black;
        background-color: white;
        border-radius: 1rem;
        padding: 5px;

    }

    .col-lg-6 {
        width: 50%;
    }

    .container_planning {
        margin: auto;
        width: 60%;
        display: flex;
    }
    .card1{
        max-width: 70%;
        margin-top: 10rem;
        margin-bottom: 10rem;
    }

    .demo{
        margin: auto;
        width: 60%;
        display: flex;
        
    }
    
    .img_planning{
        width:250px;

    }

    .card-planning{
        margin-top: 7rem;


    }




}


